# ignore all environment settings (IDE, jupyter, etc.)
.idea/
venv/
.venv/
.vscode/

# ignore all analysis settings
runs_copy/
*.ipynb_checkpoints/

# ignore outputs of experiments
runs/
*.png

# ignore cache
*__pycache__/
*.cached
*.lock